* text=auto
*.sh text eol=lf
*.js text eol=lf
*.json text eol=lf
*.py text eol=lf
*.po text eol=lf
Makefile text eol=lf
/luci-app-haproxy-manager/root/etc/config/* text eol=lf
/luci-app-haproxy-manager/root/etc/hotplug.d/** text eol=lf
/luci-app-haproxy-manager/root/usr/libexec/haproxy-manager/* text eol=lf
